@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

:root {
	--ck-content-font-family: 'Lato';
	--ck-editor-height: 700px;
}

.main-container {
	font-family: var(--ck-content-font-family);
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.editor-container__editor-wrapper {
	display: flex;
	width: 100%;
}

.editor-container_document-editor {
	border: 1px solid var(--ck-color-base-border);
}

.editor-container_document-editor .editor-container__toolbar {
	display: flex;
	position: relative;
	box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
}

.editor-container_document-editor .editor-container__toolbar > .ck.ck-toolbar {
	flex-grow: 1;
	width: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.editor-container_document-editor .editor-container__menu-bar > .ck.ck-menu-bar {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.editor-container_document-editor .editor-container__editor-wrapper {
	max-height: var(--ck-editor-height);
	min-height: var(--ck-editor-height);
	overflow-y: auto;
	background: var(--ck-color-base-foreground);
}

.editor-container_document-editor .editor-container__editor {
	width: 100%;
	padding: 20px;
}

.editor-container_document-editor .editor-container__editor .ck.ck-editor__editable {
	box-sizing: border-box;
	width: 100%;
	min-height: 600px;
	padding: 20px;
	border: none;
	background: hsl(0, 0%, 100%);
}

.ck-content .table thead {
	display: table-row-group;
}

.ck-content .table tr {
	break-inside: avoid;
	break-after: auto;
}
